<!-- <nav class="navbar">
    <div class="navbar-logo">Series App</div>
    <ul class="navbar-links">
      <li><a href="#">Inicio</a></li>
      <li><a href="#">Series</a></li>
      <li><a href="#">Ranking</a></li>
      <li><a href="#">Añadir Serie</a></li>
    </ul>
</nav> -->

<div class="container-nav">
  <div class="logo">RankingS</div>
    <div class="hamburger" onclick="getHamburger()">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <nav class="nav-bar">
      <ul>
        <li>
          <a href="" class="active">Home</a>
        </li>
        <li>
          <a href="">Series</a>
        </li>
        <li>
          <a href="">Añadir Serie</a>
        </li>
      </ul>
    </nav>
</div>  