<nav class="navbar">
  <div class="logo">RankingS</div>
  <ul class="navbar-links">
    <li><a routerLink="/series" routerLinkActive="active">Series</a></li>
    <li><a routerLink="/add-serie" routerLinkActive="active">Añadir Serie</a></li>
  </ul>
  <div class="hamburger" (click)="toggleMenu()">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
</nav>
<ul class="mobile-menu" [class.open]="menuOpen">
  <li><a routerLink="/series" routerLinkActive="active" (click)="toggleMenu()">Series</a></li>
  <li><a routerLink="/add-serie" routerLinkActive="active" (click)="toggleMenu()">Añadir Serie</a></li>
</ul>