<h2>Listado de Series</h2>
<div class="series-container">
  <div class="serie-card" *ngFor="let serie of series">
    <!-- Imagen de la serie -->
    <img [src]="serie.caratula" alt="Carátula de {{ serie.nombre }}" class="caratula">

    <div class="card-content">
      <div class="card-header">
        <h3>{{ serie.nombre }}</h3>
        <p class="platform">{{ serie.plataforma }}</p>
      </div>
      
      <!-- Contenedor para la valoración media -->
      <p class="rating-average">
        Valoración media:
        <span class="rating-box" [ngClass]="getRatingClass(serie.valoracionMedia)">
          {{ serie.valoracionMedia | number: '1.1-2' }}
        </span>
      </p>

      <ul class="ratings-list">
        <li *ngFor="let valoracion of serie.valoraciones">
          <span>{{ valoracion.autor }}:</span> {{ valoracion.puntuacion }}
        </li>
      </ul>
      <button class="add-rating-button" (click)="navigateToAddRating(serie.id)">Añadir Valoración</button>
    </div>
  </div>
</div>

