<div class="listado-series">
    <div class="serie" *ngFor="let serie of series">
      <img [src]="serie.caratula" alt="Carátula de {{ serie.nombre }}" class="caratula" />
      <div class="info">
        <h3 class="titulo">{{ serie.nombre }}</h3>
        <p>Plataforma: {{ serie.plataforma }}</p>
        <p>Valoración media: {{ serie.valoracionMedia }}</p>
      </div>
    </div>
</div>
<div *ngFor="let serie of series" class="serie-grupo">
    <h2>{{ serie.nombre }}</h2>
    <p>Plataforma: {{ serie.plataforma }}</p>
    <ul>
      <li *ngFor="let valoracion of serie.valoraciones">
        Autor: {{ valoracion.autor }} - Valoración: {{ valoracion.puntuacion }}
      </li>
    </ul>
</div>
  
  